<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.vulnerablejava.mapper.UserMapper">
    <select id="findUserByName" resultType="com.example.vulnerablejava.entity.User">
        SELECT * FROM users WHERE username='${name}';
    </select>

    <select id="findUserByNameSafety" resultType="com.example.vulnerablejava.entity.User">
        SELECT * FROM users WHERE username=#{name};
    </select>

    <select id="findUserByName2" resultType="com.example.vulnerablejava.entity.User">
        SELECT * FROM ${table} WHERE username=#{name};
    </select>

    <select id="findUserByName3" resultType="com.example.vulnerablejava.entity.User">
        SELECT * FROM users WHERE username=#{username} and password=${password};
    </select>

    <select id="findUserByColumn" resultType="com.example.vulnerablejava.entity.User">
        SELECT * FROM users
        <where>
            ${column}=#{value};
        </where>
    </select>

    <select id="findUserByColumnSafe" resultType="com.example.vulnerablejava.entity.User">
        SELECT * FROM users
        <where>
            <if test="column != null and column.matches('^[a-zA-Z0-9_]+$')">
                <bind name="dynamicColumn" value="'${column}'"/>
                ${dynamicColumn} = #{value}
            </if>
        </where>
    </select>

    <select id="findAllUsers" resultType="com.example.vulnerablejava.entity.User">
        SELECT * FROM users;
    </select>

    <insert id="addUser" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO users(username, password) VALUES (#{username}, #{password});
    </insert>

    <select id="searchUser" resultType="com.example.vulnerablejava.entity.User">
        SELECT * FROM users WHERE username like '%${name}%';
    </select>

    <select id="safeSearchUser" resultType="com.example.vulnerablejava.entity.User">
        SELECT * FROM users WHERE username like '%' || #{name} || '%';
    </select>

    <select id="sortUser" resultType="com.example.vulnerablejava.entity.User">
        SELECT * FROM users order by ${order};
    </select>

    <select id="findUserByNameList" resultType="com.example.vulnerablejava.entity.User">
        SELECT * FROM users WHERE username IN (${names});
    </select>

    <select id="safeFindUserByNameList" resultType="com.example.vulnerablejava.entity.User">
        SELECT * FROM users WHERE username IN
        <foreach collection="list" item="name" index="index" open="(" separator="," close=")">
            #{name}
        </foreach>
    </select>
</mapper>
